#app{
  background: #e32636;
  margin-bottom: 0px;
}
.p-menubar{
  height: 100px;
  width: auto;
  justify-content: center;
  border-radius: 25px;
}

.p-menuitem{
  justify-content: space-between;

}


.p-menuitem-text{
  font-size: large;
  
}
.p-galleria{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  justify-content: center;
  height: 50%;
}
.webLogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  height: 5%;
  justify-content: center;
}

#basket {
  margin-left: auto;
}

.shipping-container{
  margin: auto;
  width: 60%;
  padding: 10px;
}

.p-button{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.prod-title{
  font-size: 20px;
  text-align: center;
  margin: 1px;
}
.p-card {
  height: 250px;
  border-radius: 25px;
  width: 250px;
  margin: 20px;
  border-color: black;
  border: 50px;
  
}
.bottom {
  margin-top: 13px;
  line-height: 12px;
}

.p-card img {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
 
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.p-dialog{
  justify-content: center;
  
  height: auto;
  width: auto;
}

.content-container{
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  background-color: white;
  border-radius: 25px;
  height: auto;
  width: auto;
  padding-top: 20px;
}
.quantity-selector{
  width: 4rem;
}

.p-inputnumber-input{
  pointer-events: none;

}