/* Custom CSS*/
body{
  background:  #e32636;
}
#app {
  background: #e32636;
  margin-bottom: 0px;
}

/* Nav Bar */
.p-menubar {
  height: 100px;
  width: auto;
  justify-content: center;
  border-radius: 25px;
}
/* Nav bar items */
.p-menuitem {
  justify-content: space-between;
}
/* Nav bar text*/
.p-menuitem-text {
  font-size: 2rem;
}
/* Website Logo*/
.webLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  height: 5%;
  justify-content: center;
}
/*Basket  */
#basket {
  margin-left: auto;
}
/* Checkout Shipping form*/
.shipping-container {
  margin: auto;
  width: 60%;
  padding: 10px;
}
/* Button design*/
.p-button {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/* Product box title */
.prod-title {
  font-size: 20px;
  text-align: center;
  margin: 1px;
}
/* Product list containers for each product*/
.p-card {
  height: 250px;
  border-radius: 25px;
  width: 250px;
  margin: 20px;
  border-color: black;
  border: 50px;
}
/* bottom content*/
.bottom {
  margin-top: 13px;
  line-height: 12px;
}
/* Image for each product in product list */
.p-card img {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}
/* Displayed product container when user clicks on product */
.productContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
/* Overall design for dialogs
(Product container, success box)
*/
.p-dialog {
  justify-content: center;
  height: auto;
  width: auto;
}
/* Contact title styling*/
.contact-title{
  text-align: center;
  font-size: 20vw;
}
/* Content container

All content is displayed inside this container
*/
.content-container {
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  background-color: white;
  border-radius: 25px;
  height: auto;
  width: auto;
  padding-top: 20px;
}
/* Quantity buttons*/
.quantity-selector {
  width: 4rem;
}
/*Quantity number */
.p-inputnumber-input {
  pointer-events: none;
  width: 4vw;
  min-width: 50px;
}
/* Home page styling */
.titleHome {
  margin-top: 0;
  font-size: 4vw;
}
.homeDetails{
  font-size: 1.5vw;
}
.imageHome {
  border-radius: 65px;
  justify-content: right; 
  width:min(50vw, 100%);
  height:min(36vw,100%);
}

/* Product list styling */
.product-list-header{
  padding-left: 20px;
  margin-top: -20px;  
}

.product-list-header .product-list-title{
  font-size: 4vw;
  text-align: center;
  text-decoration: underline;
  margin: 1rem;
}
.product-list-header .product-list-details{
  font-size: 1.8rem;
  margin: 1rem;
}
.product-box{
  border-radius: 65px;
  max-width: 500px;
  width: auto;
}
.p-dialog .p-dialog-header{
  padding-bottom: 0px;
  padding-top: 0px;
}
#addtobasket{
  width: 1px;
}

/*Basket styling */
.basket-box{
  margin: 20px;
}
.p-datatable{
  border-style: solid;
  border-width: 1px;
  border-color: darkgray;
}
.shippingPriceTitle{
  text-align: right;
  margin-right: 30px;

}

.successHeader{
  font-size: 3.5vw;
}
.successBody{
  font-size: 1.5rem;
}
.pi-shopping-cart{
font-size: 2rem;
}
#successDialog{
  width: 54vw
}
@media only screen and (max-width: 415px){
  #successDialog{
    width: 81vw;
  }
  .titleHome{
    font-size: 1.4rem;
  }
  .successHeader{
    font-size: 1.5rem;
  }
  .product-list-header .product-list-title{
  font-size: 3rem;
  }
  .product-list-header .product-list-details{
    font-size: 1.4rem;
    margin: 1rem;
  }
  .successBody{
    font-size: .9rem;
  }
  .content-container{
    margin-left: 0px;
    margin-right: 0px;
  }
  .homeDetails{
    font-size: .7rem;
  }
}